
@{
    ViewData["Title"] = "ثبت ثنا";
}
@model SabtSana1;
<!DOCTYPE html>
<html lang="en">
<head>
    <h1 style="background-color:whitesmoke;">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ثبت نام ثنا</title>
</head>
<body dir="rtl">
    <fieldset>
        <legend> فرم ثبت نام ثنا</legend>
        <form asp-controller="SabtSana" asp-action="Authenticate" method="post">

            <table width="450" border="0" align="center">

                <tr>
                    <td width="150" align="left">
                        نام :
                    </td>
                    <td>
                        <input type="text" asp-for="Name" maxlength="10" size="20" placeholder="نام خود را وارد کنید">
                    </td>
                </tr>

                <tr>
                    <td width="150" align="left">
                        نام خانوادگی :
                    </td>
                    <td>
                        <input type="text" asp-for="Lname" maxlength="10" size="20" placeholder="نام خانوادگی خود را وارد کنید">
                    </td>
                </tr>

                <tr>
                    <td width="150" align="left">
                        نام پدر :
                    </td>
                    <td>
                        <input type="text" asp-for="NamePdar" maxlength="10" size="20" placeholder="نام پدر خود را وارد کنید">
                    </td>
                </tr>
               
                
                <tr>
                    <td width="150" align="left">
                        شماره شناسنامه :
                    </td>
                    <td>
                        <input type="text" asp-for="ShomareSh" maxlength="10" size="20" placeholder="شماره شناسنامه خود را وارد کنید">
                    </td>
                </tr>
                <tr>
                    <td width="150" align="left">
                        کدملی :
                    </td>
                    <td>
                        <input type="text" asp-for="NationalCode" maxlength="10" size="20" placeholder="کدملی خود را وارد کنید">
                    </td>
                </tr>
                <tr>
                    <td width="150" align="left">
                        تاریخ تولد :
                    </td>
                    <td>
                        <input type="date" asp-for="DateOfBirth" maxlength="10" size="20" placeholder="تاریخ تولد خود را وارد کنید">
                    </td>
                </tr>
                <tr>
                    <td width="150" align="left">
                        محل تولد :
                    </td>
                    <td>
                        <input type="text" asp-for="City" maxlength="10" size="20" placeholder="محل تولد خود را وارد کنید">
                    </td>
                </tr>
                <tr>
                    <td width="150" align="left">
                        شغل :
                    </td>
                    <td>
                        <input type="text" asp-for="Job" maxlength="10" size="20" placeholder="شغل خود را وارد کنید">
                    </td>
                </tr>

                <tr>
                    <td width="150" align="left">
                        ایمیل :
                    </td>
                    <td>
                        <input type="email" asp-for="Email" size="20" placeholder="ایمیل خود را وارد کنید">
                    </td>
                </tr>

                <tr>
                    <td width="150" align="left" valign="top">
                        آدرس :
                    </td>
                    <td>
                        <textarea rows="10" asp-for="Address" cols="20"></textarea>
                    </td>
                </tr>

                <tr>
                    <td width="150" align="left">
                        کاربری :
                    </td>
                    <td>
                        <input type="text" asp-for="JobTypeId" maxlength="10" size="20" placeholder="عدد کاربری خود را وارد کنید">
                    </td>





                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="ثبت نام">
                        <input type="reset" value="پاک کردن فرم">
                    </td>
                </tr>
            </table>

        </form>
    </fieldset>
    </h1>
</body>
</html>


