
@{
    ViewData["Title"] = "Index";
}
@model Authentication;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دفتر خدمات الکترونیک قضایی</title>
    <style>


              /*    background-image: url("1.jpg");
        background-repeat: no-repeat, repeat;
        background-size:10cm;
        background-color: #cccccc;

                 /*background-color: #94e68a;

               /*  background-image: url(3.jpg);
                  background-repeat:no-repeat;
                  background-attachment: fixed;
                  background-size: 180px;*/

              }
    </style>



</head>
<body dir="rtl">

    <picture>

        <img src="1.jpg" style="width:max-content;">
    </picture>
    <fieldset>
        <legend>ورود </legend>
        <form asp-controller="Home" asp-action="index" method="post">

            <table width="450" border="0" align="center">
                <tr>
                    <td width="150" align="left">
                        <b>نام کاربری</b>  :
                    </td>
                    <td>
                        <input type="text" asp-for="username" maxlength="10" size="20" placeholder="نام کاربری خود را وارد کنید">
                    </td>
                </tr>

                <tr>
                    <td width="150" align="left">
                        <b>
                            رمز عبور
                        </b> :
                    </td>
                    <td>
                        <input type="password" asp-for="pass" maxlength="10" size="20" placeholder="رمز عبور خود را وارد کنید">
                    </td>
                </tr>

                <td colspan="2" align="center">
                    <input type="submit" value="ورود">
                    <input type="reset" value="پاک کردن فرم">
                </td>
                </tr>
            </table>

        </form>
    </fieldset>

</body>
</html>



