<!DOCTYPE html>
<html>
<head>
    <meta name="دفتر قضایی" content="width=device-width, initial-scale=5">
    <h1 style="background-color:azure;">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/MyFont.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/Areset.css" rel="stylesheet">
        <link href="css/Fontawesome.css" rel="stylesheet">

        <style>




            div.scrollmenu {
                background-color: rgb(44, 58, 184);
                overflow: auto;
                white-space: nowrap;
            }

                div.scrollmenu a {
                    display: inline-block;
                    color: white;
                    text-align: right;
                    padding: 14px;
                    ;
                    text-decoration: none;
                }

                    div.scrollmenu a:hover {
                        background-color: rgb(206, 10, 4);
                    }
        </style>

</head>

<body dir="rtl">
    <form asp-controller="Home" asp-action="Authentication" metode="post">
        <div class="scrollmenu">
            <a href="test.html">صفحه نخست</a>
            <a href="darbare khadamat.html"> درباره خدمات الکترونیک</a>
            <a href="soal.html">سوالات متداول</a>
            <a href="ertabat.html">ارتباط با ما</a>







        </div>

        <div class="carousel-inner">
            <div class="item active">
                <img src="5.jpg " id="img-carousel" class="img-responsive">
            </div>


            <div class="item">
                <img src="1.jpg" id="img-carousel" class="img-responsive">
            </div>
            <div class="item">
                <img src="2.jpg" id="img-carousel" class="img-responsive">
            </div>
            <div class="item">
                <img src="3.jpg" id="img-carousel" class="img-responsive">
            </div>
            <div class="item">
                <img src="4.jpg" id="img-carousel" class="img-responsive">
            </div>



        </div>



        <div class="list">

            <br>  <a href="kartabl.html">  کارتابل خدمات قضایی</a></br>
            <br> <a href="/Dadkhast/Register">  ثبت  دادخواست</a></br>
            <br> <a href="/SHekvaye/Register">  ثبت شکواییه</a></br>
            <br> <a href="pygiri dadkhast.html">  پیگیری دادخواست</a></br>
            <br> <a href="pygiri shkvaeye.html">    پیگیری شکواییه</a></br>
            <br> <a href="/EditDadkhast/Register">  ویرایش و حذف دادخواست</a></br>
            <br> <a href="/EditSHekvaye/Register">  ویرایش و حذف شکواییه</a></br>
          
     
            <br> <a href="/SabtSana/Register">    ثبت نام حساب کاربری ثنا</a></br>


        </div>

        <style>

            img {
                display: block;
                margin: auto;
            }
        </style>



        <style>
            * {
                box-sizing: border-box
            }

            body {
                font-family: Verdana, sans-serif;
                margin: 0
            }

            .mySlides {
                display: none
            }

            img {
                vertical-align: middle;
            }

            /* Slideshow container */
            .slideshow-container {
                max-width: 1000px;
                position: relative;
                margin: auto;
            }

            /* Next & previous buttons */
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }

            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

                /* On hover, add a black background color with a little bit see-through */
                .prev:hover, .next:hover {
                    background-color: rgba(0,0,0,0.8);
                }

            /* Caption text */
            .text {
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
            }

            /* Number text (1/3 etc) */
            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }

            /* The dots/bullets/indicators */
            .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

                .active, .dot:hover {
                    background-color: #717171;
                }

            /* Fading animation */
            .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }

            -webkit-keyframes fade {
                from

            {
                opacity: .4
            }

            to {
                opacity: 1
            }

            }

            keyframes fade {
                from

            {
                opacity: .4
            }

            to {
                opacity: 1
            }

            }

            /* On smaller screens, decrease text size */
            media only screen and (max-width: 300px) {
                .prev, .next,.text

            {
                font-size: 11px
            }

            }



            <div class="slideshow-container" >

            <div class="mySlides fade" >
            <div class="numbertext" > 1 / 5</div >
            <img src="1.jpg" style="width:fit-content" >
            <div class="text" > 1</div >
            </div >

            <div class="mySlides fade" >
            <div class="numbertext" > 2 / 5</div >
            <img src="2.jpg" style="width:fit-content" >
            <div class="text" > 2</div >
            </div >

            <div class="mySlides fade" >
            <div class="numbertext" > 3 /5</div >
            <img src="4.jpg" style="width:fit-content" >
            <div class="text" > 3</div >
            </div >


            <div class="mySlides fade" >
            <div class="numbertext" > 4 /5</div >
            <img src="5.jpg" style="width:fit-content" >
            <div class="text" > 4</div >
            </div >


            <div class="mySlides fade" >
            <div class="numbertext" > 5 / 5</div >
            <img src="3.jpg" style="width:fit-content" >
            <div class="text" > 5</div >
            </div >

            <a class="prev" onclick="plusSlides(-1)" > &#10094;</a >
            <a class="next" onclick="plusSlides(1)" > &#10095;</a >

            </div >
            <br >

            <div style="text-align:center" >
            <span class="dot" onclick="currentSlide(1)" > </span >
            <span class="dot" onclick="currentSlide(2)" > </span >
            <span class="dot" onclick="currentSlide(3)" > </span >
            <span class="dot" onclick="currentSlide(4)" > </span >
            <span class="dot" onclick="currentSlide(5)" > </span >
            </div >

            <script >
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length)

            {
                slideIndex = 1
            }

            if (n < 1) {
                slideIndex = slides.length
            }

            for (i = 0; i < slides.length; i++) {
                slides [i].style.display = "none";
            }

            for (i = 0; i < dots.length; i++) {
                dots [i].className = dots[i].className.replace(" active", "");
            }

            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className + = " active";
            }
            </script >
            </h1 >
            </form >
            </body >

            </html >
